<h1><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Congrats, you successfully installed rails-react-devise-boilerplate!</h1>

<%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
<%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-default' %>
